# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

build/

.vscode

.classpath

.project

bin

.settings

src/main/resources/application.properties
