<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.duke.erss.ups.dao.TrackingShipDao">

    <resultMap id="shipInfoList" type="edu.duke.erss.ups.entity.ShipInfo">
        <result column="tracking_id" property="trackingID" />
        <result column="ship_id" property="shipID" />
        <result column="truck_id" property="truckID" />
        <result column="status" property="status" />
        <result column="dest_x" property="destX" />
        <result column="dest_y" property="destY" />
        <result column="comment" property="comment" />
        <result column="distance" property="distance" />
        <result column="whID" property="whID" />
    </resultMap>

    <select id="getAll" resultMap="shipInfoList">
        SELECT *
        FROM tracking_ship_tb;
    </select>
    <insert id="insertNewTracking" parameterType="edu.duke.erss.ups.entity.ShipInfo"
            useGeneratedKeys="true" keyColumn="tracking_id" keyProperty="shipInfo.trackingID">
        insert into tracking_ship_tb (ship_id, truck_id, status, dest_X, dest_Y, whID)
        values (#{shipInfo.shipID}, #{shipInfo.truckID}, #{shipInfo.status}, #{shipInfo.destX}, #{shipInfo.destY}, #{shipInfo.whID});
    </insert>
    <update id="updateTracking" parameterType="edu.duke.erss.ups.entity.ShipInfo">
        update tracking_ship_tb
        set truck_id=#{shipInfo.truckID},
            status=#{shipInfo.status},
            dest_x=#{shipInfo.destX},
            dest_y=#{shipInfo.destY},
            distance=#{shipInfo.distance}
        where tracking_id=#{shipInfo.trackingID};
    </update>
    <update id="updateDistance">
        update tracking_ship_tb
        set distance=#{distance}
        where ship_id=#{shipID};
    </update>

    <select id="getShipInfoByShipID" resultMap="shipInfoList">
        SELECT *
        FROM tracking_ship_tb
        WHERE ship_id=#{shipID};
    </select>

    <select id="getShipInfoByTrackingID" resultMap="shipInfoList">
        SELECT *
        FROM tracking_ship_tb
        WHERE tracking_id=#{trackingID};
    </select>

    <select id="getShipInfoByUserID" resultMap="shipInfoList">
        SELECT *
        FROM tracking_ship_tb
        WHERE tracking_id IN 
        (SELECT tracking_id
        FROM user_tracking_tb
        WHERE user_id=#{userID});
    </select>

    <select id="getShipInforByTruckID" resultMap="shipInfoList">
        SELECT *
        FROM tracking_ship_tb
        WHERE truck_id = #{truckID}
    </select>

     <update id="updateComment" >
        update tracking_ship_tb
        set comment=#{comment},
        where tracking_id=#{trackingID};
    </update>

    <update id="updateDestination">
        update tracking_ship_tb
        set dest_x=#{x}, dest_y=#{y}
        where tracking_id=#{trackingID};
    </update>

    <update id="updateStatus">
        update tracking_ship_tb
        set status=#{status}
        where ship_id=#{shipID};
    </update>
</mapper>