<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.duke.erss.ups.dao.UserDao">

    <resultMap id="userList" type="edu.duke.erss.ups.entity.User">
        <result column="user_id" property="id" />
        <result column="username" property="name" />
        <result column="passwd" property="password" />
        <result column="email" property="email" />
    </resultMap>

    <select id="getAll" resultMap="userList">
        SELECT * FROM USER_TB;
    </select>
    <select id="getUserByName" resultMap="userList" >
        SELECT *
        FROM USER_TB
        WHERE username=#{username};
    </select>

    <select id="getUserByID" resultMap="userList" >
        SELECT *
        FROM USER_TB
        WHERE user_id=#{id};
    </select>

    <select id="getUserByTrackingID" resultMap="userList" >
        SELECT *
        FROM USER_TB
        WHERE user_id IN
        ( SELECT user_id
        FROM user_tracking_tb
        WHERE tracking_id=#{trackingID});
    </select>

    <insert id="insertUser" parameterType="edu.duke.erss.ups.entity.User"
            useGeneratedKeys="true" keyColumn="user_id" keyProperty="user.id">
        insert into user_tb (username, passwd, email)
        values (#{user.name}, #{user.password}, #{user.email});
    </insert>
</mapper>
